<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcwong.dao.SchedulingMapper">
  <resultMap id="BaseResultMap" type="com.tcwong.bean.Scheduling">
    <id column="schedulingID" jdbcType="INTEGER" property="schedulingid" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="fk_carriersID" jdbcType="INTEGER" property="fkCarriersid" />
    <result column="fk_truckID" jdbcType="INTEGER" property="fkTruckid" />
    <result column="oilCost" jdbcType="REAL" property="oilcost" />
    <result column="toll" jdbcType="REAL" property="toll" />
    <result column="fine" jdbcType="REAL" property="fine" />
    <result column="otherCost" jdbcType="REAL" property="othercost" />
    <result column="totalCost" jdbcType="REAL" property="totalcost" />
    <result column="fk_userID" jdbcType="INTEGER" property="fkUserid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="checkInTime" jdbcType="TIMESTAMP" property="checkintime" />
    <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
    <result column="alterTime" jdbcType="TIMESTAMP" property="altertime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    schedulingID, startTime, fk_carriersID, fk_truckID, oilCost, toll, fine, otherCost, 
    totalCost, fk_userID, remark, checkInTime, isDelete, alterTime
  </sql>
  <resultMap id="BaseResultMap2" type="com.tcwong.bean.Scheduling" extends="BaseResultMap">
    <association property="carriers" javaType="com.tcwong.bean.Carriers">
      <id column="carriersID" jdbcType="INTEGER" property="carriersid" />
      <result column="sendCompany" jdbcType="VARCHAR" property="sendcompany" />
      <result column="sendAddress" jdbcType="VARCHAR" property="sendaddress" />
      <result column="sendLinkMan" jdbcType="VARCHAR" property="sendlinkman" />
      <result column="sendPhone" jdbcType="VARCHAR" property="sendphone" />
      <result column="receiveCompany" jdbcType="VARCHAR" property="receivecompany" />
      <result column="fk_receiveAddress" jdbcType="VARCHAR" property="fkReceiveaddress" />
      <result column="receiveLinkMan" jdbcType="VARCHAR" property="receivelinkman" />
      <result column="receivePhone" jdbcType="VARCHAR" property="receivephone" />
      <result column="leaverDate" jdbcType="TIMESTAMP" property="leaverdate" />
      <result column="receiveDate" jdbcType="TIMESTAMP" property="receivedate" />
      <result column="finishedState" jdbcType="INTEGER" property="finishedstate" />
      <result column="insuranceCost" jdbcType="REAL" property="insurancecost" />
      <result column="transportCost" jdbcType="REAL" property="transportcost" />
      <result column="otherCost" jdbcType="REAL" property="othercost" />
      <result column="totalCost" jdbcType="REAL" property="totalcost" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="fk_userID" jdbcType="INTEGER" property="fkUserid" />
      <result column="checkInTime" jdbcType="TIMESTAMP" property="checkintime" />
      <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
      <result column="alterTime" jdbcType="TIMESTAMP" property="altertime" />
    </association>
  </resultMap>
  <select id="getTotal" resultType="Long">
    select count(*) from scheduling s1 , carriers c1
    <where>
      s1.fk_carriersID = c1.carriersID
      <if test="fkCarriersid != null and fkCarriersid != '' ">
        and s1.fk_carriersID = #{fkCarriersid}
      </if>
      <if test="schedulingid != null and schedulingid != '' ">
        and s1.schedulingID = #{schedulingid}
      </if>
      <if test="sendcompany != null and sendcompany != '' ">
        and c1.sendCompany like "%"#{sendcompany,jdbcType=VARCHAR}"%"
      </if>
      <if test="receivecompany != null and receivecompany != '' ">
        and c1.receiveCompany like "%"#{receivecompany,jdbcType=VARCHAR}"%"
      </if>
    </where>
  </select>
  <select id="getAllByPage" resultMap="BaseResultMap2">
    select * from scheduling s1 , carriers c1
    <where>
      s1.fk_carriersID = c1.carriersID
      <if test="fkCarriersid != null and fkCarriersid != '' ">
        and s1.fk_carriersID = #{fkCarriersid}
      </if>
      <if test="schedulingid != null and schedulingid != '' ">
        and s1.schedulingID = #{schedulingid}
      </if>
      <if test="sendcompany != null and sendcompany != '' ">
        and c1.sendCompany like "%"#{sendcompany,jdbcType=VARCHAR}"%"
      </if>
      <if test="receivecompany != null and receivecompany != '' ">
        and c1.receiveCompany like "%"#{receivecompany,jdbcType=VARCHAR}"%"
      </if>
    </where>
    <if test="page != null and size != null ">
      limit #{page},#{size}
    </if>
  </select>
  <delete id="deleteByIds">
    delete from scheduling where schedulingID in (
    <foreach collection="ids" item="id" separator=",">
      #{id}
    </foreach>
    )
  </delete>
  <select id="selectByExample" parameterType="com.tcwong.bean.SchedulingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scheduling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scheduling
    where schedulingID = #{schedulingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scheduling
    where schedulingID = #{schedulingid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.tcwong.bean.SchedulingExample">
    delete from scheduling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tcwong.bean.Scheduling">
    insert into scheduling (schedulingID, startTime, fk_carriersID, 
      fk_truckID, oilCost, toll, 
      fine, otherCost, totalCost, 
      fk_userID, remark, checkInTime, 
      isDelete, alterTime)
    values (#{schedulingid,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{fkCarriersid,jdbcType=INTEGER}, 
      #{fkTruckid,jdbcType=INTEGER}, #{oilcost,jdbcType=REAL}, #{toll,jdbcType=REAL}, 
      #{fine,jdbcType=REAL}, #{othercost,jdbcType=REAL}, #{totalcost,jdbcType=REAL}, 
      #{fkUserid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{checkintime,jdbcType=TIMESTAMP}, 
      #{isdelete,jdbcType=INTEGER}, #{altertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tcwong.bean.Scheduling">
    insert into scheduling
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="schedulingid != null">
        schedulingID,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="fkCarriersid != null">
        fk_carriersID,
      </if>
      <if test="fkTruckid != null">
        fk_truckID,
      </if>
      <if test="oilcost != null">
        oilCost,
      </if>
      <if test="toll != null">
        toll,
      </if>
      <if test="fine != null">
        fine,
      </if>
      <if test="othercost != null">
        otherCost,
      </if>
      <if test="totalcost != null">
        totalCost,
      </if>
      <if test="fkUserid != null">
        fk_userID,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="checkintime != null">
        checkInTime,
      </if>
      <if test="isdelete != null">
        isDelete,
      </if>
      <if test="altertime != null">
        alterTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="schedulingid != null">
        #{schedulingid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkCarriersid != null">
        #{fkCarriersid,jdbcType=INTEGER},
      </if>
      <if test="fkTruckid != null">
        #{fkTruckid,jdbcType=INTEGER},
      </if>
      <if test="oilcost != null">
        #{oilcost,jdbcType=REAL},
      </if>
      <if test="toll != null">
        #{toll,jdbcType=REAL},
      </if>
      <if test="fine != null">
        #{fine,jdbcType=REAL},
      </if>
      <if test="othercost != null">
        #{othercost,jdbcType=REAL},
      </if>
      <if test="totalcost != null">
        #{totalcost,jdbcType=REAL},
      </if>
      <if test="fkUserid != null">
        #{fkUserid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="checkintime != null">
        #{checkintime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="altertime != null">
        #{altertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tcwong.bean.SchedulingExample" resultType="java.lang.Integer">
    select count(*) from scheduling
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scheduling
    <set>
      <if test="record.schedulingid != null">
        schedulingID = #{record.schedulingid,jdbcType=INTEGER},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fkCarriersid != null">
        fk_carriersID = #{record.fkCarriersid,jdbcType=INTEGER},
      </if>
      <if test="record.fkTruckid != null">
        fk_truckID = #{record.fkTruckid,jdbcType=INTEGER},
      </if>
      <if test="record.oilcost != null">
        oilCost = #{record.oilcost,jdbcType=REAL},
      </if>
      <if test="record.toll != null">
        toll = #{record.toll,jdbcType=REAL},
      </if>
      <if test="record.fine != null">
        fine = #{record.fine,jdbcType=REAL},
      </if>
      <if test="record.othercost != null">
        otherCost = #{record.othercost,jdbcType=REAL},
      </if>
      <if test="record.totalcost != null">
        totalCost = #{record.totalcost,jdbcType=REAL},
      </if>
      <if test="record.fkUserid != null">
        fk_userID = #{record.fkUserid,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.checkintime != null">
        checkInTime = #{record.checkintime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isdelete != null">
        isDelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.altertime != null">
        alterTime = #{record.altertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scheduling
    set schedulingID = #{record.schedulingid,jdbcType=INTEGER},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      fk_carriersID = #{record.fkCarriersid,jdbcType=INTEGER},
      fk_truckID = #{record.fkTruckid,jdbcType=INTEGER},
      oilCost = #{record.oilcost,jdbcType=REAL},
      toll = #{record.toll,jdbcType=REAL},
      fine = #{record.fine,jdbcType=REAL},
      otherCost = #{record.othercost,jdbcType=REAL},
      totalCost = #{record.totalcost,jdbcType=REAL},
      fk_userID = #{record.fkUserid,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      checkInTime = #{record.checkintime,jdbcType=TIMESTAMP},
      isDelete = #{record.isdelete,jdbcType=INTEGER},
      alterTime = #{record.altertime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tcwong.bean.Scheduling">
    update scheduling
    <set>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fkCarriersid != null">
        fk_carriersID = #{fkCarriersid,jdbcType=INTEGER},
      </if>
      <if test="fkTruckid != null">
        fk_truckID = #{fkTruckid,jdbcType=INTEGER},
      </if>
      <if test="oilcost != null">
        oilCost = #{oilcost,jdbcType=REAL},
      </if>
      <if test="toll != null">
        toll = #{toll,jdbcType=REAL},
      </if>
      <if test="fine != null">
        fine = #{fine,jdbcType=REAL},
      </if>
      <if test="othercost != null">
        otherCost = #{othercost,jdbcType=REAL},
      </if>
      <if test="totalcost != null">
        totalCost = #{totalcost,jdbcType=REAL},
      </if>
      <if test="fkUserid != null">
        fk_userID = #{fkUserid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="checkintime != null">
        checkInTime = #{checkintime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelete != null">
        isDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="altertime != null">
        alterTime = #{altertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where schedulingID = #{schedulingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tcwong.bean.Scheduling">
    update scheduling
    set startTime = #{starttime,jdbcType=TIMESTAMP},
      fk_carriersID = #{fkCarriersid,jdbcType=INTEGER},
      fk_truckID = #{fkTruckid,jdbcType=INTEGER},
      oilCost = #{oilcost,jdbcType=REAL},
      toll = #{toll,jdbcType=REAL},
      fine = #{fine,jdbcType=REAL},
      otherCost = #{othercost,jdbcType=REAL},
      totalCost = #{totalcost,jdbcType=REAL},
      fk_userID = #{fkUserid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      checkInTime = #{checkintime,jdbcType=TIMESTAMP},
      isDelete = #{isdelete,jdbcType=INTEGER},
      alterTime = #{altertime,jdbcType=TIMESTAMP}
    where schedulingID = #{schedulingid,jdbcType=INTEGER}
  </update>
</mapper>